@mixin dark {
    --font__color: #F7F7F7;
    --background__color: #232323;
    --background__color--hover: #444444;
    --background__color--active: #659153;
    --border__color: #777777;
}

.theme--dark {
    @include dark;
}