@import './base.scss';
@import '../themes/theme.scss';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--font__color);
  background-color: var(--background__color);
}

.container {
  margin: 0 auto;
  width: 100%;
}

.wrap {
  margin: 0 40px;
}

dt {
  display: block;
}

a,
.green {
  text-decoration: none;
  color: rgb(60, 202, 155);
  transition: 0.4s;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 20px;
  border: 3px solid white;
}

@media (hover: hover) {
  a:hover {
    color: hsl(120, 61%, 34%);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
